<div data-hook="admin_social_methods_form_fields" class="row">
  <div class="alpha five columns">
    <div data-hook="environment" class="field">
      <%= f.field_container :environment do %>
        <%= label_tag nil, Spree.t(:environment) %>
        <%= collection_select(:authentication_method, :environment, Rails.configuration.database_configuration.keys, :to_s, :titleize, {}, { class: 'select2 fullwidth' }) %>
      <% end %>
    </div>
  </div>
  <div class="alpha five columns">
    <div data-hook="environment" class="field">
      <%= f.field_container :provider do %>
        <%= f.label :provider, Spree.t(:social_provider) %>
        <%= f.select :provider, SpreeSocial::OAUTH_PROVIDERS, {}, { include_blank: false, class: 'select2 fullwidth' } %>
      <% end %>
    </div>
  </div>
  <div class="alpha five columns">
    <div data-hook="environment" class="field">
      <%= f.field_container :api_key do %>
        <%= f.label :api_key, Spree.t(:social_api_key) %> <span class="required">*</span><br />
        <%= f.text_field :api_key, class: 'fullwidth' %>
      <% end %>
    </div>
  </div>
  <div class="alpha five columns">
    <div data-hook="environment" class="field">
      <%= f.field_container :api_secret do %>
        <%= f.label :api_secret, Spree.t(:social_api_secret) %> <span class="required">*</span><br />
        <%= f.text_field :api_secret, class: 'fullwidth' %>
      <% end %>
    </div>
  </div>
  <div class="alpha five columns">
    <div data-hook="environment" class="field">
      <%= f.field_container :active do %>
        <span style="padding:0 10px 2px;"><%= f.label :active, Spree.t(:active) %></span>
        <%= f.radio_button :active, :true %>
        <span style="padding:0 2px;"><%= Spree.t(:say_yes) %></span>
        <%= f.radio_button :active, :false %>
        <span style="padding:0 2px"><%= Spree.t(:say_no) %></span>
      <% end %>
    </div>
  </div>
</div>
