<p data-hook="environment">
  <td><%= label_tag nil, Spree.t(:environment) %></td>
  <td>
    <%= collection_select(:authentication_method, :environment, Rails.configuration.database_configuration.keys, :to_s, :titleize, {}) %>
  </td>
</p>

<%= auth_form.field_container :provider do %>
  <%= auth_form.label :provider, Spree.t(:social_provider) %>
  <%= auth_form.select :provider, SpreeSocial::OAUTH_PROVIDERS, { :include_blank => true } %>
<% end %>

<%= auth_form.field_container :api_key do %>
  <%= auth_form.label :api_key, Spree.t(:social_api_key) %><br />
  <%= auth_form.text_field :api_key %>
<% end %>

<%= auth_form.field_container :api_secret do %>
  <%= auth_form.label :api_secret, Spree.t(:social_api_secret) %><br />
  <%= auth_form.text_field :api_secret %>
<% end %>

<%= auth_form.field_container :active do %>
  <%= auth_form.label :active, Spree.t(:active) %><br />
  <%= auth_form.radio_button :active, :true %><%= Spree.t(:yes) %>
  <%= auth_form.radio_button :active, :false %><%= Spree.t(:no) %>
<% end %>
