<% @body_id = 'login' %>
<div id="existing-customer">
  <table>
    <tr>
      <% if @user.email.match(/\b([a-zA-Z0-9._%+-]+)@(example.net)/) %>
        <%= form_for(:user, :url => object_url, :html => { :method => :put }) do |f| %>
          <td><%= f.label :email, t("email") %></td>
          <td><%= f.text_field :email, :value => "", :class => 'title'  %></td>
          <td><%=submit_tag t("update") %></td>
        <% end %>
      <% else %>
      <td><%= t("email") %>:</td>
      <td>
        <%= @user.email %>
      </td>
      <td><p><%= link_to t('edit'), edit_account_path %></p></td>
      <% end %>
    </tr>
  </table>

<% if @user.user_auths %>
  <% unless @user.user_auths.empty? %>
    <p><strong>You have signed in with these services:</strong></p>
    <div class="authentications">
      <% for user_auth in @user.user_auths %>
        <div class="authentication">
          <%= image_tag "social/#{user_auth.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= user_auth.provider %></div>
          <div class="uid"><%= user_auth.nickname %></div>
          <%= link_to( "X", user_auth, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove") if @user.user_auths.size > 1 %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
</div>
  <p><strong>Add another service to sign in with:</strong></p>
<% end %>

<%= hook :login_extras %>

<div class="clear"></div>

<% content_for :head do %>
  <%= stylesheet_link_tag 'social.css' %>  
<% end %>