<div class="yui-g">
  <div class="yui-u first">
      <p>
        <label><%=t("environment")%></label>
        <br/>
        <%= f.collection_select(:environment,
                                Configuration.configurations.keys.sort,
                                :to_s, :titleize,
                                {}, {:id => "gtwy-env"}) %>
      </p>

      <p>
        <%= f.check_box :active, {:style => "vertical-align:middle;"} %>
        <%= f.label :active, t('social_enable_provider') %>
      </p>

      <p>
        <%= f.label :preferred_provider, t('social_provider') %><br />
        <%= f.select :preferred_provider, SpreeSocial::OAUTH_PROVIDERS, {:include_blank => true} %>
        <br/>
        <span class="info">
          <%= t("social_provider") %>
        </span>
      </p>

      <p>
        <%= f.label :preferred_api_key, t('social_api_key') %><br />
        <%= f.text_field :preferred_api_key, :size => 40, :maxlength => 256 %>
        <br/>
        <span class="info">
          <%= t("social_api_key") %>
        </span>
      </p>

      <p>
        <%= f.label :preferred_api_secret, t('social_api_secret') %><br />
        <%= f.text_field :preferred_api_secret, :size => 40, :maxlength => 256 %>
        <br/>
        <span class="info">
          <%= t("social_api_secret") %>
        </span>
      </p>

    </fieldset>

  </div>
</div>
