<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("edit_social_method") %></h1>
<h4><%= t("edit_social_method_warning") %></h4>
<%= render 'shared/error_messages', :target => @authentication_method %>

<%= form_for(:authentication_method, :url => admin_authentication_method_path(@authentication_method), :html => {:method => :put}) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons"><%= button t("edit") %></p>
<% end %>