<%= render :partial => 'admin/shared/configuration_menu' %>

<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_social_method"), new_object_url, :icon => 'add'  %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("social_methods") %></h1>

<table class="index">
  <thead>
    <%= hook :admin_social_methods_index_headers do %>
      <th><%= t("provider") %></th>
      <th><%= t("social_api_key") %></th>
      <th><%= t("social_api_secret") %></th>
      <th><%= t("environment") %></th>
      <th><%= t("active") %></th>
    <% end %>
    <th>
      <%= hook :admin_social_methods_index_header_actions %>
    </th>
  </thead>
  <tbody>
    <% @authentication_methods.each do |method|%>
      <tr id="<%= dom_id method %>">     
        <%- locals = {:method => method} %>
        <%= hook :admin_trackers_index_rows, locals do %>        
          <td><%= method.preferred_provider %></td>
          <td><%= method.preferred_api_key %></td>
          <td><%= method.preferred_api_secret %></td>
          <td><%= method.environment.to_s.titleize %></td>
          <td><%= method.active ? t(:yes) : t(:no) %></td>
        <% end %>
        <td>
        	<%= link_to_edit method %> &nbsp;
        	<%= link_to_delete method %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
