<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("new_social_method") %></h1>
<h4><%= t("new_social_method_warning") %></h4>
<%= render 'shared/error_messages', :target => @authentication_method %>

<%= form_for(:authentication_method, :url => collection_url) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons"><%= button t("create") %></p>
<% end %>