<% if Spree::AuthenticationMethod.active_authentication_methods? %>
<% @body_id = 'login' %>
<div id="existing-customer">
  <% if spree_current_user.user_authentications %>
    <% unless spree_current_user.user_authentications.empty? %>
      <p><strong><%= Spree.t(:you_have_signed_in_with_these_services) %>:</strong></p>
      <div class="authentications">
        <% for user_authentication in spree_current_user.user_authentications %>
          <div class="authentication">
            <div class="provider columns two">
              <%= image_tag "store/#{user_authentication.provider}_32.png", :size => "32x32", :class => "columns" %>
              <%= user_authentication.provider %>
            </div>
            <div class="uid columns two"><%= user_authentication.uid %></div>
            <%= link_to "X", user_authentication, data: { :confirm => "#{Spree.t(:remove_authentication_option_confirmation)}" }, :method => :delete, :class => "remove" %>
          </div>
        <% end %>
        <div class="clear"></div>
      </div>
    <% end %>

  <% end %>
  <%= content_tag(:p, content_tag(:strong, Spree.t(:add_another_service))) if Spree::AuthenticationMethod.available_for(spree_current_user).exists? %>
  <%= render :partial => "spree/shared/social" %>
</div>

<div class="clear"></div>
<% end %>
